body {
    font-family: 'Lucida Sans', sans-serif;
    
}

p .Text {
    width: 300px;
}


h1 {
    border-bottom: 8px green solid;
}

h2 {
    color: rgb(180, 17, 17);
    font-family: 'Lucida Sans', sans-serif;
}

a {

}

.list {
    margin-bottom: 2em;
    border: 1px rgb(17, 221, 34) dashed;
    padding: 1em;
    text-decoration: none;
}
.red{
    color: rgb(180, 17, 17) ;
}
.box {
    background-color: green;
    padding: 12px;
    color: aliceblue;

}


.button {
    background-color: lightgrey;
    padding: 6px;
    display: inline-block;
    text-decoration: none;
    border: 1px darkgray solid;
    border-radius: 5px;
}

.Text {
    border: 2px green solid;
    border-radius: 10px;
    padding: 1em;
}

.sale {
    border: 4px darkgray double;
    margin-right: 49%;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    font-size: larger;
}

button {
    background-color: darkgreen;
    border: 2px grey solid;
    color: antiquewhite;
    border-radius: 10px;
    cursor: pointer;
}
.blue{
    color: rgb(13, 13, 255);
}
.img-fluid {
    max-width: 100%;
    position: absolute;
}
.img-profile {
    max-width: 300px;
}
.img-slide{
    max-width: 400px;
}
.img-logo {
    max-width: 100px;
    min-width: 100px;
}

button:hover {
    background-color: antiquewhite;
    color: darkgreen;
}

body {
    border: 4px darkgreen solid;
    
}

footer {
    background-color: green;
}

footer a {
    color: aliceblue;
}